.card {
	background-color: #ffffff;
	border-radius:12px;
	box-shadow: 10px 10px 8px #0c2f4050;
	display: flex;
	flex-direction: row-reverse;
	// row-reverse ensures the header (the 1st element in .card__content) is the first thing the screen reader will read for each card
	margin: 0 auto 32px;
	height: 240px;
	max-width: 120ch;
	justify-content: space-between;

	.card__content {
		max-width: 1fr;
		padding: 24px;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: 2.2rem
		}

		&-header {
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
			display: -webkit-box;
			margin-bottom: .4rem;
			overflow: hidden;
		}

		&-date,
		&-byline {
			display: inline;
			font-size: 1.4rem;
		}

		&-description {
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 4;
			display: -webkit-box;
			font-size: 1.8rem;
			margin: 1.2rem 0;
			overflow: hidden;
		}

		&-link {
			background-color: #d0fcf5;
			border-radius: 6px;
			color: #0c2f40;
			float: right;
			font-size: 1.4rem;
			// outline must been replaced by alternate :focus styling
			outline: none;
			padding: .6rem;
			text-decoration: none;

			&:active,
			&:visited {
				background-color: #d0fcf5;
				color: #0c2f40;
			}

			&:hover,
			&:focus {
				// this styling has replaced the default outline styling
				background-color: #144f6b;
				color: #10f0cf;
			}
		}
	}

	.card__thumbnail {
		border-radius: 12px 0 0 12px ;
		height: 100%;
		width: auto;
	}
}
