.vts-drawer {
    background: rgba(9, 255, 0, 0.5);

    &__content {
        padding: 20px;
        color: #FFF;
        background: #222;
        transition: 0.3s ease transform;
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: 0.5s ease opacity;
  }
  
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
  
  .slide-right-enter-active,
  .slide-right-leave-active {
    transition: 0.5s ease opacity, 0.5s ease transform;
  }
  
  .slide-right-enter,
  .slide-right-leave-to {
    opacity: 0;
    transform: translateX(-100%);
  }